{
  "extends": "eslint-config-bugly",
  "rules": {
    "no-prototype-builtins": "off",
    "no-use-before-define": "off",
    "no-restricted-syntax": "off",
    "no-param-reassign": "off",
    "no-continue": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off"
  }
}